:root {
    --primary-color: #ec1f55;
    --txt-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
}


.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    
}
.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}
.player.playing .icon-play {
    display: none;
}

.dashboard {
    background-color: #fff;
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    background-size: cover;
    background-image: url(../img/wedding-background-music.jpg);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 10px;
}

/* body {
    /* background-image: url(../img/wedding-background-music.jpg); */
    /* background-size: cover; */
/* } */ 
header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

/* CD */
.cd{
    display: flex;
    margin: auto;
    width: 200px;
}

.cd .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color:#333;
    background-size: cover;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

/* COntroller */
.control .btn.active {
    color: var(--primary-color);
  }

.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    font-size:20px;
    padding: 18px;
    color : #666;
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color : #fff;
    display: flex;
    background-color: var(--primary-color);
}

/* playlist */
.progress {
    width: 100%;
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 6px;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 8px;
    background-color: var(--primary-color);
    cursor: pointer;
  }

/* playlists */
.playlist {
    margin-top: 408px;
    /* padding: 12px; */
}
.control.active,
.song.active {
    background-color: var(--primary-color);
    color: #fff;
}
.song .thumb {
    width: 44px;
    height: 44px;
    background-size: cover;
    border-radius: 50%;
}

.song .body {
    flex: 1;
    margin: 0 12px;
    padding: 12px 0;
}
.song {
    display: flex;
    align-items: center;
    margin-top: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song .body .title {
    margin-bottom: 8px;
}
.song .body .author {
    font-size: 12px;
    text-transform: initial;
}